name = "line-notify-messenger"
compatibility_date = "2025-03-19"
compatibility_flags = ["nodejs_compat"]
main = "src/cloudflareworkers.ts"

[build]
command = "tsc"

[[kv_namespaces]]
binding = "GROUPS"
id = "${{KV_NAMESPACE_ID}}"

[[r2_buckets]]
binding = "IMAGES"
bucket_name = "${{R2_BUCKET_NAME}}"

[vars]
SEND_MODE = "${{SEND_MODE}}"

[observability.logs]
enabled = true
